.card-wrapper {
    border-radius: 10px;
    align-items: center;
    position: static;
    display: flex;
    flex-direction: column;

}

.card {
    width: 86vw;
    border-radius: 7px;
    box-shadow: 1px 4px 30px 1px rgba(0, 0, 0, 0.75);
    background-color: $formWhite;
    padding: 50px 80px;
}

.input-wrapper {
    margin: 36px 0px;
}

input {
    background-color: #f6f6f6;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $greyTwo;
    text-align: center;
    font-weight: 500;
    width: 100%;
}

.input-description {
    color: $greyTwo;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.execute-button {
    @include buttonStyles;
    background-color: $patrickPink;
    font-size: 1.25em;
}

.clear-button {
    @include buttonStyles;
    background-color: rgba(190, 85, 168, 0.26);
    padding-top: 9px;
    text-align: center;
}

input:focus,
button:focus {
    outline: none;
}
